.star-wars-section {
    width: 100%;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
}

.star-wars-titles {
    position: absolute;
    bottom: 0;
    left: 12vw;
    width: 80vw;
    height: 60em;
    margin: 0 auto;
    font-family: 'News Cycle', sans-serif;
    color: yellow;
    font-size: 500%;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(500px) rotateX(25deg);
}

.episode-title,
.attack-title {
    margin-bottom: 50px;
    text-align: center;
}

.main-text-part1,
.main-text-part2 {
    margin-bottom: 50px;
    line-height: 1.35em;
}


.star-wars-scroller {
    position: absolute;
    top: 100%;
    animation: scroll 30s ease-in infinite;
}

@keyframes scroll {
    0% { top: 100%; }

    100% { top: -170%; }
}